md-card {
  margin: 10px auto;
}

md-card-header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

md-card-actions {
  text-align: right;
}

md-icon {
  vertical-align: bottom;
}
